<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <script src="/public/assets/libs/jquery/jquery.js"></script>
    <script src="/public/assets/libs/layer/layer.js"></script>
    <script src="/public/assets/js/ajax-override.js"></script>
</head>

<body>
    <h1>登录页面</h1>
    <button id="login">登录</button>
    <img src="/public/upload/1557024704071.jpg">
    <script>
        $(function() {
            $('#login').click(function() {
                doLogin();
            })
        });

        function doLogin() {
            $.ajax({
                url: '/api/login/doLogin',
                type: 'post',
                data: {
                    loginname: 'admin',
                    password: '1'
                },
                success: function(data) {
                    if (data.status == 200) {
                        localStorage.setItem('token', data.res.token);
                        layer.msg(data.res.msg);
                        window.location.href = '/home'
                    } else {
                        layer.msg(data.error);
                    }
                }
            })
        }
    </script>
</body>

</html>